.hamburger, .cross {
	position: absolute;
	border: none;
	background-color:#e9ebee;
	cursor: pointer;

	@mixin atMedium {
		opacity: 0;
	}
}

.hamburger {
	font-size: 110%;
	padding: 0;
	left: 11px;
	top: 2.625rem;
	@mixin atSmall {
		left: 10px;
		top: 3.25rem;
	}
}

.cross {
	font-size: 260%;
	padding:0;
	left: 11px;
	top: 2.125rem;
	z-index: 20;
	display:none;

	@mixin atSmall {
		left: 11px;
		top: 2.75rem;
		display:none;
	}	
}


