footer p {
	margin:0;
	display: block;
	font-size: 65%;
	font-size: 65%;
	color: gray;
	clear: both;
	padding:0;
	position: absolute;
	top: 97vh;
	left: 50%;
	width: 94px;
	margin-left: -47px;
	
	@mixin atSmall {
		font-size: 70%;
		width: 102px;
		margin-left: -51px;
	}

	@mixin atMedium {
		width: 108px;
		margin-left: -54px;
		font-size: 75%;
	}	
}

