footer p {
	margin:0;
	display: block;
	font-size: 65%;
	font-size: 65%;
	color: #888;
	clear: both;
	padding:0;
	position: absolute;
	top: 97vh;
	left: 50%;
	margin-left: -47px;
	
	@mixin atSmall {
		font-size: 70%;
		margin-left: -51px;
	}

	@mixin atMedium {
		margin-left: -54px;
		font-size: 75%;
	}	
}

