article {
	 max-width: 92%; 
	margin: -21px auto; 
	background-color: #fff;
	padding-top: 0;
	color: #777;
}

.info.heading {
	text-align: right;
	padding: .4rem .4rem;
	 font-size: 110%; 

	@mixin atSmall {
		font-size: 130%;
		padding-right: 5rem;
	}

	@mixin atMedium {
		text-align: center;
		padding-right: 0;
		font-size: 170%;
	}
}

.construction {
	font-weight: normal;
	display: block;
	text-align: center;
}
.treble-staff, .bass-staff {
	display: block;
	width: 50%;
	margin: 0 auto;
}


.note-names {
	display: block;
	width: 10rem;
	margin: 0 auto;
}

.keyboard-registers {
	display: block;
	width: 95%;
	margin: 0 auto;
}

.staff-registers {
	display: block;
	width: 85%;
	margin: 0 auto;

}