div.info-wrapper {
	max-width: 92%; 
	margin: -23px auto; 
	background-color: #fff;
	padding-top: 0;
	color: #555;
	
}

.info.heading {
	text-align: right;
	padding: .5rem .4rem;
	 font-size: 110%; 

	@mixin atSmall {
		font-size: 130%;
		padding-right: 5rem;
	}

	@mixin atMedium {
		text-align: center;
		padding-right: 0;
		font-size: 170%;
	}
}

article {
	margin: 0 3%;
	letter-spacing: .5px;
	font-size: 105%;
		h1 {
			font-size: 130%;
			color: steelblue;
			padding-top: 1.5em;
		} 

}

.treble-staff {
	display: block;
	width: 50%;
	margin: 0 auto;

}

.bass-staff {
	display: block;
	width: 50%;
	margin: 0 auto;
}

.note-names {
	display: block;
	height: 9rem;
	width: 9rem;
	margin: 0 auto;
}

.keyboard-registers {
	display: block;
	width: 95%;
	margin: 0 auto;
}

.staff-registers {
	display: block;
	width: 85%;
	margin: 0 auto;

}

footer p#info {
position: static;
text-align: center;
padding: 1.5%;
background-color: $bgcolor;
}