div.info-wrapper {
	max-width: 92%; 
	margin: -23px auto; 
	background-color: #fff;
	padding-top: 0;
	color: #555;
	
}

.info.heading {
	text-align: right;
	padding: .5rem 1rem;
	 font-size: 100%; 

	@mixin atSmall {
		font-size: 110%;
		padding-left: 3em;
		text-align: center;
	}

	@mixin atMedium {
		text-align: center;
		font-size: 160%;
		padding: .5rem 0;
	}
}

article {
	margin: 0 3%;
	letter-spacing: 1px;
	font-size: 108%;
		h1 {
			font-size: 130%;
			color: steelblue;
			padding-top: 1.5em;
		} 

}

.treble-staff {
	display: block;
	width: 50%;
	float: right;
	margin: 0 7px 7px 7px;

}



.bass-staff {
	display: block;
	float: right;
	width: 50%;
	margin-top: -1rem;

}

.note-names {
	display: block;
	height: 9rem;
	width: 9rem;
	margin: 0 auto;
}

.keyboard-registers {
	display: block;
	width: 95%;
	margin: 0 auto;
}

.staff-registers {
	display: block;
	width: 85%;
	margin: 0 auto;
}

footer p#info {
position: static;
text-align: center;
padding: 1.5%;
background-color: $bgcolor;
}